In [2]:
# Importing the required libaries
import pyodbc
import pandas as pd 

# Setting up a connection to my SQL Server instance and database. Here this is a *Trusted Connection* and does not require login details
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-J5R1BFO;'
                      'Database=Bitcoin;'
                      'Trusted_Connection=yes;')

In [3]:
# Now that I have a connection, here I'm using the read_sql_query method to create a dataframe from my server connection. 
# This will read the query i give it and create a new dataframe object from the query results.
dec6 = pd.read_sql_query('SELECT TOP 100 * FROM coinmarketcap_06012018', conn)

# Now I want to print the head of my dataframe object
print(dec6.head())

  Column 0 24h_volume_usd available_supply            id last_updated  \
0        0    22081300000         16785225       bitcoin   1515230661
1        1     5221370000      38739144847        ripple   1515230641
2        2     5705690000         96803840      ethereum   1515230649
3        3     1569900000         16896225  bitcoin-cash   1515230652
4        4      428305000      25927070538       cardano   1515230654

  market_cap_usd      max_supply          name percent_change_1h  \
0   284909052105      21000000.0       Bitcoin             -0.42
1   119207709132  100000000000.0        Ripple             -0.26
2   100115499075                      Ethereum              0.29
3    44424061657      21000000.0  Bitcoin Cash              0.03
4    25916647856   45000000000.0       Cardano              0.39

  percent_change_24h percent_change_7d   price_btc price_usd rank symbol  \
0               5.76             26.04         1.0   16973.8    1    BTC
1              -9.23             24.15  0.00018601   3.07719    2    XRP
2              -1.04             45.01   0.0625169   1034.21    3    ETH
3               7.99              2.81    0.158934   2629.23    4    BCH
4              -5.87             64.99   6.042e-05  0.999598    5    ADA

  total_supply
0     16785225
1  99993093880
2     96803840
3     16896225
4  31112483745

C:\Users\cmdas\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(